<div id="status">
</div>

<div id="chat-window">
  <ul id="messages">
    <% @messages.each do |message| %>
      <li data-id="<%= message.id %>"><%= message.content %></li>
    <% end %>
  </ul>
</div>

<% if @request.active? %>
  <div id="message-input">
    <%= form_for [@request, @message] do |f| %>

      <div class="field">
        <%= f.label :content %>
        <%= f.text_field :content %>
      </div>

      <div class="actions">
        <%= f.submit "Message Neighbor"%>
      </div>

    <% end %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  var pusher = new Pusher('545220afdca7480dd648', {
    encrypted: true, auth: {
      headers: {
        'X-CSRF-Token': '<%= form_authenticity_token %>'
      }
    }
  });

  var channel = pusher.subscribe('private-<%= @request.id %>');

  channel.bind('new_message', function(data) {
    $('#messages').append('<li>' + data.content + '</li>');
  });
</script>
