<div id="status">
</div>

<div id="chat-window" class='row'>
  <div class='small-12 columns'>
    <ul id="messages">
      <% @messages.each do |message| %>
        <div class='msg'>
          <li data-id="<%= message.id %>"><%= message.content %></li>
        </div>
      <% end %>
    </ul>
    <div class='msg-buffer' id='bottom'></div>
  </div>
</div>

<% if @request.active? %>
  <footer>
    <div id="message-input fixed">
      <%= form_for [@request, @message] do |f| %>
      <div class='row'>
        <div class='small-9 columns'>
          <div class="field">
            <%= f.text_field :content %>
          </div>
        </div>

        <div class='small-3 columns'>
          <div class="actions">
            <%= f.submit "Send", class: 'button tiny' %>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </footer>
<% end %>

<script type="text/javascript" charset="utf-8">
  var pusher = new Pusher('545220afdca7480dd648', {
    encrypted: true, auth: {
      headers: {
        'X-CSRF-Token': '<%= form_authenticity_token %>'
      }
    }
  });

  var channel = pusher.subscribe('private-<%= @request.id %>');

  channel.bind('new_message', function(data) {
    $('#messages').append('<div class="msg"><li>' + data.content + '</li></div>');
  });
</script>
