<div class="row">
  <div class='small-8 small-centered text-center column'>
    <h4>Hi <%= current_user.first_name %>!</h4>
  </div>
  <div class='small-12 small-centered text-center column'>
    To begin, let's get you connected with your neighbors.
    Where is home for you?
  </div>
</div>

<%= form_for :address do |f| %>
  <div class="field">
    <%= f.label :street, "Street" %>
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <%= f.label :city, "City" %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state, "State" %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :zip_code, "Zip Code" %>
    <%= f.text_field :zip_code %>
  </div>

  <div class="actions">
    <%= submit_tag "Find Your Neighbors!" %>
  </div>
<% end %>
