<div class="row">
  <div class='small-8 small-centered text-center column'>
    <h4>Hi <%= current_user.first_name %>!</h4>
  </div>
  <div class='small-10 small-centered text-center column'>
    <div>To begin, let's get you connected with your neighbors.</div>
    <div>Where is home for you?</div>
  </div>
</div>

<%= form_for :address do |f| %>
  <div class="field row">
    <div class="small-12 columns">
      <%= f.label :street, "Street" %>
      <%= f.text_field :street %>
    </div>
  </div>

  <div class="field row">
    <div class="small-12 columns">
      <%= f.label :apartment, "Apartment / Floor" %>
      <%= f.text_field :apartment %>
    </div>
  </div>

  <div class="field row">
    <div class="small-12 columns">
      <%= f.label :city, "City" %>
      <%= f.text_field :city %>
    </div>
  </div>

  <div class="field row">
    <div class="small-12 columns">
      <%= f.label :state, "State" %>
      <%= f.text_field :state %>
    </div>
  </div>

  <div class="field row">
    <div class="small-12 columns">
      <%= f.label :zip_code, "Zip Code" %>
      <%= f.text_field :zip_code %>
    </div>
  </div>

  <div class="actions row">
    <div class='small-12 text-center columns'>
      <%= submit_tag "Find Your Neighbors!", class: 'button success' %>
    </div>
  </div>
<% end %>
