<div class='row'>
<div class='small-12 small-centered text-center columns'>
<p class="user-header"><%= @user.first_name %>'s Profile</p>
<img class="profpic" width="150" height="150" src="<%= @user.picture %>" alt="<%= @user.first_name %>">
</div>
</div>

<div class='row'>
<div class='small-12 small-centered text-center columns'>
<p class='sub-userheader'><%= @user.first_name %>'s Good Nghbor Points: <%= @user.vote_count %></p>
<p class='sub-userheader'><%= @user.first_name %>'s Recent Activity:</p>
</div>
</div>

<div id="row">
<div class='footer small-12 small-centered text-center columns'>
</div>
</div>

