<% if flash[:alert] %>
  <div data-alert class="alert-box alert radius">
    <%= flash[:alert] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<i class="fi-[torsos-all]"></i>
<%= render 'requests/new_request_form', request: Request.new %>
<div class='row collapse sticky top-bar'>
  <ul class='button-group even-3 small-12 columns river-nav'>
    <li>
      <%= button_to river_path, {method: 'get', form_class: "river-form", class: 'small button river-btn'} do %>
        <i class="fa fa-rss fa-lg"></i>
      <% end %>
    </li>
    <li>
      <%= button_to active_path, {method: 'get', form_class: "river-form", class: 'small button river-btn'} do %>
        <i class='fa fa-commenting-o fa-lg'></i>
      <% end %></li>
    <li>
      <%= button_to history_path, {method: 'get', form_class: "river-form", class: 'small button river-btn'} do %>
        <i class='fa fa-history fa-lg'></i>
      <% end %>
    </li>
  </ul>
</div>

<div id="river">
</div>

<script type="text/javascript" charset="utf-8">
  var pusher = new Pusher('545220afdca7480dd648', {
    encrypted: true,
    authEndpoint: '/pusher/groupauth',
    auth: {
      headers: {
        'X-CSRF-Token': '<%= form_authenticity_token %>'
      }
    }
  });

  var channel = pusher.subscribe('presence-<%= current_user.group_id %>');

  channel.bind("new_transaction", function(data) {
    var source = $('#request-template').html();
    var template = Handlebars.compile(source);
    var html = template(data);

    $('.transactions').prepend(html);

    if (data.user_id === <%= current_user.id %>) {
      $('.transactions').prepend(html);
    }

  });

  channel.bind("new_request_posted", function(data) {
    $('.requests').prepend('<li>' + data.content + '</li>');
  });
</script>

<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.js" %>

<script id="request-template" type="text/x-handlebars-template">
<div class='row transaction'>
  <div class='small-4 text-center column'>
    <img class="profpic" src="{{src}}" alt="Photo" width="80" height="80">
  </div>
  <div class='small-8 text-center column'>
    <a href="{{requester_link}}">{{requester_first_name}}</a> {{request_text}} {{time}} ago.
  </div>
</div>
</script>
