<%= render 'requests/new_request_form', request: Request.new %>
<%= button_to 'Group Activity', river_path, method: 'get' %>
<%= button_to 'Active Requests', active_path, method: 'get' %>
<%= button_to 'Your History', history_path, method: 'get' %>
<%= button_to 'Moved? Update Your Neighborhood', groups_assign_path, method: 'get' %>

<div id="river">
  <ul id="group-transactions">
  </ul>
</div>

<script type="text/javascript" charset="utf-8">
  var pusher = new Pusher('545220afdca7480dd648',{
    encrypted: true,
    authEndpoint: '/pusher/groupauth',
    auth: {
      headers: {
        'X-CSRF-Token': '<%= form_authenticity_token %>'
      }
    }
  });

  var channel = pusher.subscribe('presence-<%= current_user.group_id %>');

  channel.bind("new_transaction", function(data) {
    var element = '<li>' + data.content + '</li>';

    $('#group-transactions').append(element);

    if (data.user_id === <%= current_user.id %>) {
      $('#my-transactions').append(element);
    }

  });

  channel.bind("new_request_posted", function(data) {
    $('#active-requests').append('<li>' + data.content + '</li>');
  });
</script>
