<li class="request" data-id="<%= request.id %>">

  <p class="content">
    <%= request.requester.first_name %> said: "<%= request.content %>"
    <%= time_ago_in_words(request.created_at) %> ago.
  </p>
  <% if request.responder != nil %>
    <p><%= link_to request.responder.first_name, user_path(request.responder) %> has responded to the request!</p>
  <% end %>
  <% if request.is_fulfilled %>
    <p> <%= link_to request.responder.first_name, user_path(request.responder) %> has fulfilled <%= link_to request.requester.first_name, user_path(request.requester) %>'s request!</p>
  <% end %>

  <% if !request.is_fulfilled %>
    <% if request.requester == current_user && request.responder == nil %>
      <%= button_to "Cancel Request", request, class: 'button', method: 'delete' %>
    <% elsif request.responder == nil && current_user != request.requester %>
      <%= button_to 'Be a neighbor!', request, class: 'button', method: 'patch' %>
    <% elsif request.responder != nil && current_user == request.requester %>
      <%= button_to 'Request fulfilled!', request, class: 'button', method: 'patch' %>
    <% end %>

    <% unless request.responder.nil? %>
      <%= link_to "Initiate Chat", request_messages_path(request) %>
    <% end %>
  <% end %>
</li>
