<div class = 'request'>
  <%= @request.requester.first_name %> said: <%= @request.content %>
  At <%= @request.created_at %>
  <% if @request.requester == current_user %>
    <%= button_to "Cancel Request", request, class: button, method: 'delete' %>
  <% elsif @request.responder == nil %>
    <%= button_to 'Be a neighbor!', request, class: button, method: 'patch' %>
  <% else %>
  <p> Someone is already being a neighbor to <%= @request.requester.first_name %>. Thanks for checking!
    <%= button_to 'Return to Home', root_path %>
  <% end %>
</div>