<li class="request" data-id="<%= request.id %>">

  <p class="content">
    <%= request.requester.first_name %> said: <%= request.content %>
    At <%= request.created_at %>
  </p>

  <% if request.requester == current_user %>
    <%= button_to "Cancel Request", request, class: 'button', method: 'delete' %>
  <% elsif request.responder == nil %>
    <%= button_to 'Be a neighbor!', request, class: 'button', method: 'patch' %>
  <% else %>
    <%= link_to "Initiate Chat", request_messages_path(request) %>
  <% end %>
</li>
