<div class="request" data-id="<%= request.id %>">

  <div class='row'>
  <div class='small-12 small-centered text-center columns'>
    <div class='request-content'>
    <%= image_tag(request.requester.picture, class:"profpic") %>
    <%= link_to request.requester.first_name, user_path(request.requester) %> said: "<%= request.content %>"
    <%= time_ago_in_words(request.created_at) %> ago.
    <% if request.responder != nil %>
      <div><strong> <%= link_to request.responder.first_name, user_path(request.responder) %> has responded to the request!</div></strong>
    <% end %>
    <% if request.is_fulfilled %>
      <div> <%= link_to request.responder.first_name, user_path(request.responder) %> has fulfilled <%= link_to request.requester.first_name, user_path(request.requester) %>'s request!</div>
    <% end %>
  </div>

  <div class='row'>
  <div class='small-4 small-centered columns'>
  <% if !request.is_fulfilled %>
    <% if request.requester == current_user && request.responder == nil %>
      <%= button_to "Cancel Request", request, class: 'button alert tiny round request-btn', method: 'delete' %>
    <% elsif request.responder == nil && current_user != request.requester %>
      <%= button_to 'Be a neighbor!', request, class: 'button success tiny round request-btn', method: 'patch' %>
    <% elsif request.responder != nil && current_user == request.requester %>
      <%= button_to 'Request fulfilled!', request, class: 'button tiny round request-btn', method: 'patch' %>
    <% end %>
    </div>
    </div>
    </div>


    <% if !request.is_fulfilled %>
      <div class='row'>
        <div class='small-12 text-center columns'>
          <%= link_to "Initiate Chat", request_messages_path(request, anchor: 'bottom'), class: 'button medium round success' %>
        </div>
      </div>

    <% end %>
  <% end %>



