<div class='row req-summary request' data-id="<%= request.id %>">
  <div class='small-4 text-center columns'>
    <div class='row'>
      <div class='small-12 small-centered columns'>
        <%= image_tag(request.requester.picture, class:"profpic", height:"80", width:"80") %>
      </div>
    </div>
  </div>
  <div class='small-8 columns'>
    <div class='row'>
      <div class='small-12 text-center columns'>
        <%= link_to request.requester.first_name, user_path(request.requester) %>: "<%= request.content %>"
      </div>
    </div>
    <div class='row'>
      <div class='small-12 text-center columns'>
        <% if request.requester == current_user && request.responder == nil %>
          <%= button_to "Cancel Request", request, class: 'button alert tiny round request-btn', method: 'delete' %>
        <% elsif request.responder == nil && current_user != request.requester %>
        <%= button_to 'Be a neighbor!', request, class: 'button success tiny round request-btn', method: 'patch' %>
        <% else %>
        <%= button_to 'View', request_path(request), class: 'button info tiny round request-btn', method: 'get' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
