<div class='vote-field'>
  <div class='row vote-text'>
    <div class='small-12 text-center columns'>
      How was your experience with your neighbor?
    </div>
  </div>

  <div class='row vote-table'>
    <%= form_tag request_votes_path(request_obj), :method=>'post', :class=>'upvote' do %>
      <%= hidden_field_tag "vote[value]", 1 %>
      <div class="small-2 small-offset-3 columns vote-btn"><%= image_submit_tag("upboat.png") %></div>
    <% end %>

    <%= form_tag request_votes_path(request_obj), :method=>'post', :class=>'downvote' do %>
      <%= hidden_field_tag "vote[value]", -1 %>
      <div class="small-2 small-offset-2 columns vote-btn"><%= image_submit_tag("downboat.png") %></div>
    <% end %>
  </div>

</div>
