<table class="vote-table">
  <tr>
    <td>
      <%= form_tag('/vote', :method=>'post', :class=>'upvote') do %>
        <%= hidden_field_tag "vote[value]", 1 %>
        <div class="up"><%= image_submit_tag("orange-arrow.png") %></div>
      <% end %>
    </td>
  </tr>
  <tr>

  </tr>
  <tr>
    <td>
      <%= form_tag('/vote', :method=>'post', :class=>'downvote') do %>
        <%= hidden_field_tag "vote[value]", -1 %>
        <div class="down"><%= image_submit_tag("orange-arrow.png") %></div>
      <% end %>
    </td>
  </tr>
</table>